apache-airflow-providers-airbyte==2.1.1
apache-airflow-providers-docker==2.1.1
apache-airflow-providers-mongo==2.1.0
apache-airflow-providers-postgres==2.2.0
apache-airflow-providers-sendgrid==2.0.1
apache-airflow-providers-redis==2.0.1
apache-airflow-providers-apache-spark==2.0.1
airflow-provider-great-expectations==0.0.8
apache-airflow-providers-celery==2.1.0
